@model IEnumerable<Job_Offers_Website.Models.Job>

@{
   
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <div class="panel panel-default" style="padding:15px; margin-bottom:10px;">
        <h1 class="panel-heading">Search Results</h1>
        
        <div class="row">
            @foreach (var subitem in Model)
                {
                <div class="col-md-3 thumbnail" style="margin-left:20px;margin-bottom:-10px;height:350px;">
                    <img src="~/uploads/@subitem.jobImage" style="width:200px;height:200px;" />
                    <h3>@Html.DisplayFor(modelItem => subitem.jobTitle)</h3>
                    <h5>@Html.DisplayFor(modelItem => subitem.jobContent)</h5>
                    @Html.ActionLink("Details", "Details", new { jobId = subitem.id }, new { @class = "btn btn-primary" })
                </div>


            }
        </div>
    </div>
